*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #31002d;
    color: white;
    text-align: center;
    margin-top: 100px;
}

.text-green {
    color: green;
}

.text-red {
    color: red;
}